<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
    <add name="AILogSys"
         connectionString="Data Source=MILTON-PC\SQLEXPRESS;AttachDbFilename=C:\Users\Milton\NewDeal\Databases\AILSDemo.mdf;user Id=sa; password=newdeal12;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>
